.host a {
  display: block;
  background: #f1f1f1;
  margin: 5px;
}
.host .box {
  border: 5px solid grey;
}
.host-header {
  width: 100%;
  height: 60px;
  background: yellow;
  position: relative;
}

.host-header .host-header-title {
  position: absolute;
  top: 0;
  right: 100px;
}